@model Nothing.Web.Common.ResultModel<Language>
@using Nothing.Model.Entity
@{ 
    var lstLanguage = Model.listModel;
}
<table id="tableLanguage" class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Key</th>
            <th>Việt Nam</th>
            <th>English</th>
            <th>Tùy chọn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lstLanguage)
        {
        <tr>
            <td>@item.ID_Language</td>
            <td>@item.Key_Language</td>
            <td>@item.Language_VN</td>
            <td>@item.Language_EN</td>
            <td><span style="cursor:pointer;" class="glyphicon glyphicon-edit" ng-click="Edit(@item.ID_Language)"></span></td>
        </tr>
        }
    </tbody>
</table>

<script>
    var lstLanguage = [];
    $(document).ready(function () {

        $.extend($.fn.dataTable.defaults, {
            searching: false,
            ordering: false
        });

        $('#tableLanguage').DataTable({
          
        });
    });
</script>

